.header0 {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

.content0 {
  position: relative;
  top: 0;
  width: 100%;
}

.footer0 {
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.full-layout {
  height: 100vh;
  width:  100vw;
}

div.box1 {
  height: 80px;
  width:  100px;
  background-color: blueviolet;
  color: white;
}

div.box2 {
  height: 1000px;
  width:  80px;
  background-color: gray;
  overflow: scroll;
}

.scroll {
  overflow-y: scroll;
  height: 100%;
  max-height: 400px;
}