<md-card>
  <md-card-title-text>プレビュー</md-card-title-text>
  <p></p>
  <div class="preview-area" layout="row" layout-align="space-around center" flex layout-padding>

      <div class="box2">box2</div>
      <div class="box2">box2</div>
      <div class="box2">box2</div>
  </div>
</md-card>


<!--
<md-content>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">Pizza</div>
  </md-toolbar>

  <section>
    <md-subheader class="md-primary">Single Action Checkboxes</md-subheader>
    <md-list layout-padding>
      <md-list-item ng-repeat="topping in entry.toppings">
        <p ng-bind="topping.name"></p>
        <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
      </md-list-item>
    </md-list>
  </section>

  <section>
    <md-subheader class="md-accent">Read Message</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in entry.messages">
          <div class="md-list-item-text">
            <h3>{{$index+1}}. {{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
            <md-button class="md-secondary delete" ng-click="entry.onDel($index)">Delete</md-button>
          </div>
        </md-list-item>
      <h3 ng-if="entry.messages.length<=0">No messages!</h3>
    </md-list>
    
  </section>
</md-content>
-->